<script>
    function FriendsCtrl($scope, $http) {
        $scope.friends = [];
        $scope.currentPage = 0;
        $scope.itemsPerPage = 30;
        $scope.totalPages = function() {
            return Math.ceil($scope.friends.length / $scope.itemsPerPage);
        }
        $http.get('/friendlist').success(function(data) {
            $scope.friends = data.friends;
        });
    }
</script>

<div class="container" ng-controller="FriendsCtrl">

    <input class="search" type="text" placeholder="Search friends" ng-model="searchFilter">

    <ul class="friends">
        <li class="friends__box" ng-repeat="friend in friends | filter: searchFilter | orderBy: 'first_name' | limitTo: itemsPerPage">
            <a href="https://facebook.com/profile.php?id={{friend.id}}">
                <img src="/images/user.png" profilepicture="{{friend.picture.data.url}}" alt="{{friend.first_name}} {{friend.last_name}}">
                {{ friend.first_name }} {{ friend.last_name }}
            </a>
        </li>
    </ul>

</div>