<html ng-app="facebook">
  <head>
    <title>Facebook app</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>
    <body>
      <%- body %>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="/js/spin.js"></script>
    <script src="/js/functions.js"></script>
  </head>
</html>